In [332]:
# Task 1

In [333]:
import pandas as pd

def count_top3(file):
    return pd.concat([pd.read_csv(f"names/yob{row}.txt", names = ["Name", "Gender", "Count"]) for row in file], 
                     ignore_index=True).groupby(by="Name").sum().sort_values(by="Count", ascending=False).head(3)

In [334]:
count_top3([1880])

         Count
Name
John      9701
William   9562
Mary      7092

In [335]:
count_top3([1900, 1950, 2000])

         Count
Name
James   111789
John    109601
Robert  101368

In [336]:
# Task 2

In [337]:
def count_dynamics(file):
    return pd.concat([pd.read_csv(f"names/yob{row}.txt", names = ["Name", "Gender", "Count"]).assign(Year = row)  for row in file], 
                     ignore_index=True).groupby(['Gender', 'Year']).agg({'Count': 'sum'})

In [338]:
count_dynamics([1900, 1950, 2000])

               Count
Gender Year
F      1900   299798
       1950  1713065
       2000  1815295
M      1900   150480
       1950  1790437
       2000  1963202